<div class="container-fluid py-5 " style="background-color:rgb(44,62,80)">
<div class="d-flex container justify-content-between">
    <div class="text-white  text-center w-25">
        <h2>Location</h2>
        <span>2215 John Daniel Drive </span>
        <br>
        <span>Clark, MO 65243</span>
    </div>
    <div class="text-white  w-25 text-center ">
        <h2>Around the web</h2>
        <div class="ms-3">
            <i class="fa-brands fa-facebook "></i>
            <i class="fa-brands fa-twitter "></i>
            <i class="fa-brands fa-linkedin "></i>
            <i class="fa-solid fa-globe "></i>
        </div>
    </div>
    <div class="text-white text-center ">
       <h3>ABOUT FREELANCER</h3>
       <p class="max-width">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
</div>
</div>
<div class="p-3" style="background-color: rgb(26,37,47);">
    <p class="text-white text-center">Copyright © Your Website 2021</p>
</div>
