<div class="container-fluid " style=" padding: 150px; background-color: rgb(26,188,156);">
  <div class="container text-center">
    <h1 class="text-white ">About Component</h1>
    <span class="position-relative design"></span> 
    <i class="fa-solid fa-star text-white"></i>
    <div class="d-flex mx-3 text-start text-white">
      <div>
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>
          </div>
          <div>
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        
        </p>
          </div>
    </div>
  
  </div>
</div>

