
<div class="container-fluid py-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-2">Contact Section</h1>
        <span class="position-relative design"></span> 
        <i class="fa-solid fa-star"></i>
        <div class="d-flex flex-column container align-items-center mt-5 pt-5">
            <input class="form-control p-2" type="" name="" id="" placeholder="userName">
            <input class="form-control p-2" type="" name="" id="" placeholder="userAge">
            <input class="form-control p-2" type="" name="" id="" placeholder="userEmail">
            <input class="form-control p-2" type="" name="" id="" placeholder="userPassword">
        </div>
    
    </div>
</div>
