*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1
{
    color: rgb(44,62,80);
}
i
{
color: rgb(44,62,80);
}
.design::after
{
    width: 75px;
    height: 3px;
    background-color:rgb(44,62,80);
    content: "";
    position: absolute;
    left: 20px;
    top: 7px;
}
.design::before
{
    width: 75px;
    height: 3px;
    background-color:rgb(44,62,80);
    content: "";
    position: absolute;
    right:20px;
    top: 7px;
}
img
{
    width: 100%;
}
.col-lg-4
{
    cursor: pointer;
}
.h-100
{
    background-color: rgb(26,188,156);
    opacity: 0;
    transition: all 0.5s;
}
.h-100 i
{
  font-size: 65px;  
}
.h-100:hover
{
    opacity: 0.75;
}

.light-container
{
    background-color: rgba(0, 153, 204,0.3);
}
.box-container
{
    width: 30%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}